---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---

<header>
  <h2>
    <HeaderLink href="/">
      {SITE_TITLE}</HeaderLink
    >
  </h2>

  <!-- <nav>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="https://github.com/ccsimmi" target="_blank">
      GitHub
    </HeaderLink>
  </nav> -->
</header>
