---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
const { title } = Astro.props;
---

<header>
  <h1>
    <HeaderLink href="/">
      {title ?? SITE_TITLE}</HeaderLink
    >
  </h1>

  <!-- <nav>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="https://github.com/ccsimmi" target="_blank">
      GitHub
    </HeaderLink>
  </nav> -->
</header>
