---
import Profile from '../images/profile.svg';
---

<div class="profile-container">
  <img alt="Self portait of myself" class="profile" src={Profile} />
  <div>
    <p>Personal blog by <a href="">Manjot Mandeir</a>.</p>
    <p>I record my studies of development here.</p>
  </div>
</div>
